<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Aurum</title>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600;700&display=swap" rel="stylesheet" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/aurum.css') }}">
  <link rel="shortcut icon" href="https://cdn-icons-png.flaticon.com/128/3975/3975233.png" type="image/x-icon">
</head>
<body>

<div class="container" id="login-screen">
    <h2 style="color:#f4d160; margin-bottom: 20px;">{{ _('Entrar') }}</h2>
  <input type="text" placeholder="{{ _('E-mail ou nome de usuário') }}" />
  <input type="password" placeholder="{{ _('Senha') }}" />
  <div class="forgot" onclick="window.location.href = '/esqueci_senha'">{{ _('Não lembra a senha?') }}</div>
  <span id="textoerro" class="textoerro"></span><br>
  <button class="btn" id="login-btn">{{ _('Entrar') }}</button>
  <div class="terms">
    <div class="terms">
  {{ _('Ao entrar na Aurum, você concorda com os nossos') }} <br>
  <a href="/termos" class="terms-link">{{ _('Termos de Uso') }}</a>
  {{ _('e') }}
  <a href="/privacidade" class="terms-link">{{ _('Política de Privacidade') }}</a>.
</div>

  </div><br>
  <button type="button" class="btn" id="btnVoltar" onclick="window.location.href='/'" >{{ _('← Voltar ao início') }}</button>
</div>

<script src="{{ url_for('static', filename='js/aurum.js') }}"></script>
</body>
</html>