.modulo-mapa {
  display: flex;
  height: 100vh;
}

/* Caminho */
.caminho {
  flex: 1;
  padding: 2rem;
}

.titulo-modulo {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

.linha-caminho {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.etapa {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;  /* centraliza no eixo Y */
  justify-content: center; /* centraliza no eixo X */
  cursor: pointer;
  transition: transform 0.2s ease;
}

.etapa.concluida {
  background-color: #ffd700;
  color: #000;
  box-shadow: 0 0 10px rgba(255, 215, 0, 0.6);
}

.etapa.desbloqueada {
  background-color: #5eb0d6;
  color: whitesmoke;
  box-shadow: 0 0 10px rgba(63, 219, 216, 0.519);
}

.etapa.bloqueada {
  background-color: #ccc;
  color: #777;
  cursor: not-allowed;
}

/* Painel lateral */
.painel-lateral {
  width: 280px;
  background-color: #fafafa;
  border-left: 2px solid #ddd;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.status, .ranking {
  margin-bottom: 2rem;
}

.status h3, .ranking h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.ranking ol {
  padding-left: 1.2rem;
}

.mascote{
  width: 200px;
  height: 200px;
  position: absolute;
  margin-top: 50%;
  margin-left: -15%;
}

.mapa-modulo {
  position: relative; /* importante para o cálculo relativo */
}

.linhas-map {
  position: absolute;
  inset: 0;          /* top/right/bottom/left = 0; cobre todo o container */
  z-index: 0;        /* por baixo das etapas */
  pointer-events: none;
}

.etapa-wrapper {
  position: relative;
  margin: 20px 0; /* espaço entre etapas */
  width: 100%;
  display: flex;
  justify-content: center;
}

.etapa {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  font-size: 1.3rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
}

/* Zigue-zague */
.etapa-wrapper:nth-child(odd) {
  justify-content: flex-start;
  padding-left:30%;
}
.etapa-wrapper:nth-child(even) {
  justify-content: flex-end;
  padding-right: 30%;
}
