.popup-conquista {
  position: fixed;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 16px;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.3);
  z-index: 9999;
  font-family: "Poppins", sans-serif;
  font-size: 0.95rem;
  animation: slideIn 0.5s ease-out;
  transition: opacity 0.5s;
}

.popup-conquista img {
  width: 45px;
  height: 45px;
}

.popup-conquista.fade-out {
  opacity: 0;
}

@keyframes slideIn {
  from { opacity: 0; transform: translateX(50px); }
  to { opacity: 1; transform: translateX(0); }
}

.iconeconquista{
  width: 50px;
  height: 50px;
}

.ifsp{
  border-radius: 50%;
}

/* Vermelha */
.cor-vermelha {
  background-color: #b71c1c;
  color: white;
}

/* Verde */
.cor-verde {
  background-color: #4caf50;
  color: white;
}

.cor-branco {
  background-color: white;
  color: black;
}

/* Amarela */
.cor-amarela {
  background-color: #fbc02d;
  color: #333;
}

/* Azul */
.cor-azul {
  background-color: #1e2e5a;
  color: white;
}

/* Dourada */
.cor-dourada {
  background-color: goldenrod;
  color: #333;
}

/* Dark Azul (Azul escuro) */
.cor-darkazul {
  background-color: #010f30;
  color: white;
}

/* Laranja */
.cor-laranja {
  background-color: #ff9800;
  color: #333;
}

/* Dark Red (Vermelho escuro) */
.cor-darkred {
  background-color: #610101;
  color: white;
}

.textoConquistas{
  size: 1.1rem;
  color: #daa520;
}