* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #0f1b3d;
  color: white;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 200px;
  background-color: #18294d;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.menu-item {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.menu-item.active {
  background-color: #2f5581;
  border-radius: 8px;
}

.content {
  display: flex;
  flex: 1;
  padding: 30px;
  gap: 30px;
}

.ranking-box {
  background-color: #1e2e5a;
  border-radius: 16px;
  padding: 20px;
  width: 60%;
}

.ranking-box h1 {
  text-align: center;
  background-color: #253b71;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.ranking-list {
  list-style: none;
}

.ranking-list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b3d74;
  padding: 10px 15px;
  margin-bottom: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.score {
  font-weight: bold;
  color: #fbc02d;
}

.up {
  color: #00e676;
}

.down {
  color: #e53935;
}

.info-box {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.info {
  background-color: #2b3d74;
  padding: 10px;
  border-radius: 10px;
  text-align: center;
}

.quiz-btn {
  background-color: #2b3d74;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}

.quiz-btn span {
  display: block;
  font-size: 14px;
}

.modulo {
  background-color: #1ec3c3;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.progress-bar {
  background-color: #ccc;
  height: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.progress {
  background-color: #05696b;
  height: 100%;
  border-radius: 5px;
}

.continue-btn {
  background-color: #05696b;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 6px;
  cursor: pointer;
}

.icon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  vertical-align: middle;
}

.large-icon {
  width: 28px;
  height: 32px;
  margin-right: 22px;
  vertical-align: middle;
}

.first {
    color:#daa520;
}

.second {
    color:#afafaf ;
}

.third {
    color: #cd7f32;
}

.golden {
 color: goldenrod;
 font-size: 24px;
 vertical-align: middle;
 margin-right: 18px;
 margin-left: 18px;
}

.darkgolden {
    color: rgb(99, 72, 2);
    font-size: 15px;
}